.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #d15555b6;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.hamburger {
  cursor: pointer;
}

.hamburger svg {
  font-size: 1.5rem;
}
